<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do Form</title>
</head>
<body>

    <h1>To-Do Form</h1>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form action="/submittodoitem" method="POST">

        <label for="itemId">Item ID:</label>
<input type="text" id="itemId" name="itemId">

<br><br>
        <label for="itemName">Item Name:</label>
        <input type="text" id="itemName" name="itemName">

        <br><br>

        <label for="itemDescription">Item Description:</label>
        <input type="text" id="itemDescription" name="itemDescription">

        <br><br>

        <button type="submit">Submit</button>

    </form>

</body>
</html>